<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="Cart.css">
    <script src="https://kit.fontawesome.com/362d290da8.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js"></script> 
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js"> </script>
  
    <title>Cart - Leidy Mariana Ort</title>

</head>
<body>

    <section id="header">

        <a href="#"><h2>Leidy Mariana Ort</h2></a>

        <div>
            <ul id="navbar">
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
                <li><a href="./../../index.html">Home</a></li>
                <li><a href="./../Shop/Shop.html">Shop</a></li>
                <li><a href="./../Blog/Blog.html">Blog</a></li>
                <li><a href="./../About/About.html">about</a></li>
                <li><a href="./../Contact/Contact.html">contact</a></li>
                <li id="lg-bag"><a href="./Cart.html" class="active"><i class="fa fa-shopping-bag"></i></a></li>
               
            </ul>         
        </div>
        
        <div id="mobile">           
            <a href="./Cart.html" class="active"><i class="fa-solid fa-cart-shopping"></i></a>

            <i id="bar" class="fa-solid fa-bars"></i>
        </div>
        
    </section>

    <section id="page-header" class="blog-header">
        <h2>#cart</h2>
        <p>Add Your coupon code & SAVE upto 70%!</p>
    </section>

    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="./../../img/img/products/f1.jpg" alt=""></td>
                    <td>Cartoon Astronaut T-Shirt</td>
                    <td>$118.19</td>
                    <td><input type="number" value="1"></td>
                    <td>$118.19</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="./../../img/img/products/f2.jpg" alt=""></td>
                    <td>Cartoon Astronaut T-Shirt</td>
                    <td>$118.19</td>
                    <td><input type="number" value="1"></td>
                    <td>$118.19</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="./../../img/img/products/f3.jpg" alt=""></td>
                    <td>Cartoon Astronaut T-Shirt</td>
                    <td>$118.19</td>
                    <td><input type="number" value="1" ></td>
                    <td>$118.19</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="./../../img/img/products/f4.jpg" alt=""></td>
                    <td>Cartoon Astronaut T-Shirt</td>
                    <td>$118.19</td>
                    <td><input type="number" value="1"></td>
                    <td>$118.19</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="cart-add" class="section-p1">

        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" placeholder="Enter Your Coupon">
                <button class="normal">Apply</button>
            </div>
        </div>

        <div id="subtotal">
            <h3>Cart Totals</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td>$335</td>
                </tr>
                <tr>
                    <td>Shopping</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>$335.19</td>
                </tr>
            </table>
            <button class="normal">Proceed to checkout</button>
        </div>
    </section>
    
    <footer class="section-p1" id="footer">

        <div class="col">
            <a class="logo" href="./../../index.html"><h4>Leidy Mariana Ort</h4></a>
            <h4>Contact</h4>
            <p><strong>Address:</strong> Carrera 57 # 24-13, Medellin, Antioquia</p>
            <p><strong>Phone:</strong> +57 3102035300</p>
            <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>

            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>               
            </div>
        </div>

        <div class="col">
            
                <h4>About</h4>
                <a href="#">About Us</a>           
                <a href="#">Delivery Information</a>           
                <a href="#">Privacy Policy</a>           
                <a href="#">Terms & Conditions</a>           
                <a href="#">Contact Us</a>           
        </div>

        <div class="col">
            
            <h4>My Account</h4>
            <a href="#">Sign In</a>           
            <a href="#">View Cart</a>           
            <a href="#">My Wishlist</a>           
            <a href="#">Tract My Order</a>           
            <a href="#">Help</a>           
        </div>

        <div class="col">
            
            <h4><strong>Secured Pay Gateways</strong> </h4>
            <img src="./../../img/img/pay/pay.png" alt="">
                  
        </div>

        <div class="copyrights">
            <p>2021, SQuant etc - HTML CSS Ecomerce template</p>
        </div>
    </footer>




    <script src="./../../script.js"></script>
</body>
</html>