<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="About.css">
    <script src="https://kit.fontawesome.com/362d290da8.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js"></script> 
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js"> </script>
  
    <title>About - Leidy Mariana Ort</title>

</head>
<body>

    <section id="header">

        <a href="#"><h2>Leidy Mariana Ort</h2></a>

        <div>
            <ul id="navbar">
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
                <li><a href="./../../index.html">Home</a></li>
                <li><a href="./../../Components/Shop/Shop.html">Shop</a></li>
                <li><a href="./../../Components/Blog/Blog.html">Blog</a></li>
                <li><a class="active" href="./../About/About.html">about</a></li>
                <li><a href="#">contact</a></li>
                <li id="lg-bag"><a href="./../Cart/Cart.html"><i class="fa fa-shopping-bag"></i></a></li>
               
            </ul>         
        </div>
        
        <div id="mobile">           
            <a href="./../Cart/Cart.html"><i class="fa-solid fa-cart-shopping"></i></a>

            <i id="bar" class="fa-solid fa-bars"></i>
        </div>
        
    </section>

    <section id="page-header" class="about-header">
        <h2>#KnowUs</h2>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
    </section>

    <section id="about-head" class="section-p1">
        <img src="./../../img/img/about/a6.jpg" alt="">
        <div>
            <h2>Who We Are?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae est temporibus nam esse mollitia quas consequuntur, unde ipsum, officia omnis corrupti alias soluta dolorem et voluptatibus facere, impedit sed fuga.</p>
           
        </div>
        <br><br>
        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">
            Create stunning images with as much or as little control as you like thanks to a choice of basic and creative modes.
        </marquee>
    </section>

    <section id="features" class="section-p1">

        <div class="fe-box">
            <img src="./../../img/img/features/f1.png" alt="">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="./../../img/img/features/f2.png" alt="">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="./../../img/img/features/f3.png" alt="">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="./../../img/img/features/f4.png" alt="">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="./../../img/img/features/f5.png" alt="">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="./../../img/img/features/f6.png" alt="">
            <h6>F 24/7 Support</h6>
        </div>

    </section>


    <section id="newsletter" class="section-p1 section-m1" >
        <div class="newstext">
            <h4>Sign Up For Newsletter</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers</span>.</p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1" id="footer">

        <div class="col">
            <a class="logo" href="./index.html"><h4>Leidy Mariana Ort</h4></a>
            <h4>Contact</h4>
            <p><strong>Address:</strong> Carrera 57 # 24-13, Medellin, Antioquia</p>
            <p><strong>Phone:</strong> +57 3102035300</p>
            <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>

            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>               
            </div>
        </div>

        <div class="col">
            
                <h4>About</h4>
                <a href="#">About Us</a>           
                <a href="#">Delivery Information</a>           
                <a href="#">Privacy Policy</a>           
                <a href="#">Terms & Conditions</a>           
                <a href="#">Contact Us</a>           
        </div>

        <div class="col">
            
            <h4>My Account</h4>
            <a href="#">Sign In</a>           
            <a href="#">View Cart</a>           
            <a href="#">My Wishlist</a>           
            <a href="#">Tract My Order</a>           
            <a href="#">Help</a>           
        </div>

        <div class="col">
            
            <h4><strong>Secured Pay Gateways</strong> </h4>
            <img src="./../../img/img/pay/pay.png" alt="">
                  
        </div>

        <div class="copyrights">
            <p>2021, SQuant etc - HTML CSS Ecomerce template</p>
        </div>
    </footer>




    <script src="./../../script.js"></script>
</body>
</html>